.one {
background-image: url('p2image1.jpg');
}
.zero ul {
list-style-type: none;
margin: 2px 15px 5px 15px;
padding: 2px;
overflow: hidden;
background-color: #333333;
width: 90%;
position: fixed;
top: 0;
}
.zero li a {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px;
width: 250px;
}
.zero a:hover {
background-color:green;
}
.one h2 {
color: #000000;
font-size: 60px;
text-align: center;
}
.one h6 {
color: #000000;
font-size: 30px;
text-align: center;
}
.one img {
display: block;
margin-left: auto;
margin-right: auto;
border: 4px solid #ffffff;
}
.one button {
 background-color:#000000;
 color:white;
 padding: 15px 32px;
 text-align:center;
 display:inline-block;
 font-size:16px;
 margin:4px 2px;
}
.two {
background-image: url('p2image2.jpg');
}
.two h2 {
color: #ffffff;
font-size: 60px;
text-align: center;
}
.two h6 {
color: #ffffff;
font-size: 30px;
text-align: center;
}
.two li {
color: #ffffff;
font-size: 50px;
}
.three {
background-image: url('p2image3.jpg');
}
.three h2 {
color: #ffffff;
font-size: 60px;
text-align: center;
}
.three img {
display: block;
margin-left: auto;
margin-right: auto;
}
